<section class="ftco-section">
  <div>
    <div>
      <div class="section-title flex-align-centre">TESTOMONIALS</div>
      <div class="col-md-12">
        <!-- data-bs-ride="carousel"  data-bs-interval="2000" -->
        <div id="featuredCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <div 
              class="carousel-item" 
              [class.active]="i === 0" 
              *ngFor="let slide of slides; let i = index"
            >
              <div class="work-wrap d-md-flex">
                <div
                  class="img order-md-last"
                  [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }"
                ></div>
                <div class="text align-items-center">
                  <div class="text-block">
                    <h2 class="mb-4">{{ slide.title }}</h2>
                    <p>{{ slide.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#featuredCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#featuredCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
