@import 'variables';

body{
    margin: 0;
    .flex-align-centre{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-title{
        font-family: $font-family;
        height: 10vh;
        width: 100%;
        font-size: $font-size-2rem;
        font-weight: $font-bold;
        padding: 3rem !important;
    }
}
@media (max-width: 768px) {
    body{
        .section-title{
            font-size: 1.5rem;
            font-weight: 800;
            padding: 2rem !important;
        }
    }
}